@import "tailwindcss";

@theme {
  --color-orange-light: #fff1e6;
  --color-orange-light-hover: #ffe9d9;
  --color-orange-light-active: #fed2b0;
  --color-orange-normal: #fd6f00;
  --color-orange-normal-hover: #e46400;
  --color-orange-normal-active: #ca5900;
  --color-orange-dark: #be5300;
  --color-orange-dark-hover: #984300;
  --color-orange-dark-active: #723200;
  --color-orange-darker: #592700;
  --gradient-orange: linear-gradient(#fd6f00, #e46400);
  --gradient-orange-reverse: linear-gradient(to right, #e46400, #fd6f00);
  --gradient-orange-darker: linear-gradient(to right, #fa6e00, #e60026);

  --color-black-light: #e6e6e6;
  --color-black-light-hover: #d9d9d9;
  --color-black-light-active: #b0b0b0;
  --color-black-normal: #000000;
  --color-black-normal-hover: #000000;
  --color-black-normal-active: #000000;
  --color-black-dark: #000000;
  --color-black-dark-hover: #000000;
  --color-black-dark-active: #000000;
  --color-black-darker: #000000;

  --color-white-light: #fefefe;
  --color-white-light-hover: #fefefe;
  --color-white-light-active: #fdfdfd;
  --color-white-normal: #f8f8f8;
  --color-white-normal-hover: #dfdfdf;
  --color-white-normal-active: #c6c6c6;
  --color-white-dark: #bababa;
  --color-white-dark-hover: #959595;
  --color-white-dark-active: #707070;
  --color-white-darker: #575757;

  --color-grey-light: #e9e9e9;
  --color-grey-light-hover: #dddddd;
  --color-grey-light-active: #b9b9b9;
  --color-grey-normal: #1e1e1e;
  --color-grey-normal-hover: #1b1b1b;
  --color-grey-normal-active: #181818;
  --color-grey-dark: #171717;
  --color-grey-dark-hover: #121212;
  --color-grey-dark-active: #0d0d0d;
  --color-grey-darker: #0b0b0b;

  --color-background: #121212;

  --font-lato: var(--font-lato-sans);

  --breakpoint-xs: 34.6875rem;
  --breakpoint-2xs: 28.125rem;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

@layer base {
  h1 {
    font-size: 70px;
    font-weight: bold;
    background: var(--gradient-orange-reverse);
    color: transparent;
    background-clip: text;
  }

  h2 {
    max-width: max-content;

    margin: 0 auto 60px;

    font-size: 40px;
    font-weight: bold;

    border: 6px solid var(--color-orange-normal);
    border-style: outset;

    padding: 20px 40px;
  }

  @media (max-width: 1280px) {
    h1 {
      font-size: 56px;
    }

    h2 {
      font-size: 32px;
    }
  }

  @media (max-width: 555px) {
    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 28px;

      margin-bottom: 45px;
    }
  }

  @media (max-width: 450px) {
    h1 {
      font-size: 42px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 35px;
    }
  }
}

*,
*::after,
*::before {
  transition: all 0.3s ease-in-out;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-lato, "sans-serif");

  color: var(--color-white-dark);
  background-color: var(--color-background);
}

.active {
  color: var(--color-orange-normal);
}

.active:hover,
.active:focus-visible {
  color: var(--color-orange-normal-hover);
}

.active:active {
  color: var(--color-orange-normal-active);
}
